html{
    height:100%;
}
body{
    min-height:100%;
    margin:0;
    padding:0;
    position:relative;
}

.container_main{
    padding-bottom:250px !important;
}
footer{
    position:absolute;
    bottom:0;
    height: 230px;
    width:100%;
    background-color: #082a44;
}

.row-content li{
    list-style:none; 
}
.row-content a{
    color:white;
}
.row-content a:hover{
    text-decoration:none;
    color:#c1ba62;
}