.foot-wrap{
	background-color: #2d363f;
    width: 100%;
    position: absolute;
    bottom: 0；
}

.row-content li{
    list-style:none; 
}
.row-content a{
    color:#878B91;
}
.row-content a:hover{
    text-decoration:none;
    c
    olor:#c1ba62;
}
		    

