<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dublin Bus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta name="description" content="base.html">
        <meta name="authors" content="Jennifer, Cho, Ellen, and ShihaoHu">

        {% load static %}
        <link rel="icon" href={% static 'images/favicon.ico' %} />
        <script src= {% static 'js/scripts.js' %}></script>
        
        <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}/>
        <link rel="stylesheet" type="text/css" href={% static 'css/map.css' %}/>
    </head>

    <body>
        {% include 'partials/header.html' %}
        <div class='container'>
            {% block content %}{% endblock %}
        </div>
        {% include 'partials/footer.html' %}
    </body>
</html>