{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}
<!-- <script src= {#% static 'js/map.js' %#}></script> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 position-relative">
            {# % block subcontent % #}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit">
                </form>
            {# % endblock % #}
        </div>

        <div class="col-md-8 d-none d-lg-block">
            {% include 'partials/map.html'%}
        </div>
    </div>
</div>

{% endblock %}