{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

<script src= {% static 'js/map.js' %}></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 position-relative">
            <div class="card text-white rounded-sm p-2 mt-2">
                <h5 class="card-header text-center">Journey Planner</h5>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-2">
                                <label class="fs-6 pb-1" for="{{ field.auto_id }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" value="Submit" class="btn btn-primary w-100 mt-4 rounded-xs">Submit</button>
                    </form>
                </div>
            </div> 
        </div>

        <div class="col-md-8 d-none d-lg-block">
            <div id="style-selector-control" class="map-control" style="display:none">
                <select id="style-selector" class="selector-control" style="line-height:50px; font-size: 20px;">
                    <option value="default" >Default</option>
                    <option value="silver">Silver</option>
                    <option value="night" selected="selected">Night mode</option>
                    <option value="retro" >Retro</option>
                    <option value="hiding">Hide features</option>
                </select>
            </div>
            {% include 'partials/map.html'%}
        </div>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyHv2bXwLbbBAyLF9uIOVF3LpEJW9oowg&callback=initMap&libraries=places&v=weekly"
></script>

<script>
    const center = { lat: 53.3498, lng: -6.2603 };
    // Create a bounding box with sides ~10km away from the center point
    const defaultBounds = {
        north: center.lat + 0.28949,
        south: center.lat - 0.218991,
        east: center.lng + 0.256544,
        west: center.lng - 0.390267,
    };
    const options = {
        bounds: defaultBounds,
        componentRestrictions: { country: "ie" },
        fields: ["address_components", "geometry", "icon", "name"],
        strictBounds: false,
    };
    new google.maps.places.Autocomplete(document.getElementById("id_origin_location"), options);
    new google.maps.places.Autocomplete(document.getElementById("id_destination_location"), options);
</script>

{% endblock %}