{% extends 'layouts/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h3> Leap Card Account</h3>
        <p>Fill in your leap card account details to see your leap balance</p>
    
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="leap_username">
            <input type="password" name="leap_password">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="col-md-8">
        <h3> Leap Card Details</h3>
        <p> Card Balance:  {{ leap_balance }} </p>
        
        <p> Card Number: {{leap_card_number }}</p>

        <p> Card Status: {{ leap_card_status }}</p>
        
        <p> Card type: {{ leap_card_type }}</p>

        <p> Credit Status: {{ leap_credit_status }}</p>
        
        <p> Auto top-up: {{ leap_auto_topup  }}</p>
        
        <p> Expiry date:  {{ leap_expiry_date }}</p>
        
        <p> Card Issue Date: {{ leap_issue_date }}</p>     
    </div>
   
</div>
{% endblock %}