{% extends 'layouts/base.html' %}

{% block content %}


<script>
    function initMap() {
        const markerArray = [];
        const stopArray=[];
        const directionsService = new google.maps.DirectionsService();
        const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: { lat: 53.349804, lng: -6.260310 },
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
        });
        const directionsRenderer = new google.maps.DirectionsRenderer();
        //directionsRenderer.setMap(map); 
        //directionsRenderer.setPanel(document.getElementById("sidebar"));
        const stepDisplay = new google.maps.InfoWindow();
        const control =  document.getElementById("floating-panel");
        //const search_result=document.getElementById("sidebar");
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(search_result);
        let route_history = [];
        //document.getElementById("search_route").addEventListener("click", () => {
            //calculateAndDisplayRoute(directionsService,directionsRenderer, map,route_history);
        //});
        var delayFactor=0;
        var i=0;
        "{% for stop in route_Info %}"
            var stop_position={
                lat:Number("{{stop.stop.lat}}"),
                lng:Number("{{stop.stop.lng}}"),
            };

            stopArray[i]="{{stop.stop.lat}}".toString()+","+"{{stop.stop.lng}}".toString();

            markerArray[i] = new google.maps.Marker({
                position: stop_position,
                map: map,
                title:"{{stop.stop.stop_name}}",
                label:"{{stop.stop_sequence}}",
            });
                   
            markerArray[i].addListener("click", () => {
                stepDisplay.setContent(
                    '<p style="color:black">'+"{{stop.stop.stop_name}}"+'</p>'
                );
                stepDisplay.open(map, markerArray[i]);
            });
            "{% if forloop.last %}" 
            "{%else%}"
                "{% if forloop.first %}"
                "{%else%}"
                    calculateAndDisplayRoute(directionsService,map,stopArray[i-1],stopArray[i],delayFactor);
                "{% endif %}"
            "{% endif %}"
            i++;
        "{% endfor %}" 
        const latlngStr = stopArray[0].split(",", 2);
        const latlng = {
            lat: parseFloat(latlngStr[0]),
            lng: parseFloat(latlngStr[1]),
        };
        map.setCenter(latlng);
        //console.log(route_history);
        //calculateAndDisplayRoute(directionsService,directionsRenderer,map,stopArray[0],stopArray[i-1]);

        //const onChangeHandler = function () {
        //calculateAndDisplayRoute(directionsService,map);};
        //document.getElementById("start").addEventListener("change", onChangeHandler);
        //document.getElementById("end").addEventListener("change", onChangeHandler);
        //calculateAndDisplayRoute(directionsService,directionsRenderer,map);
    };

    function calculateAndDisplayRoute(directionsService,map,start_stop,end_stop,delayFactor) {
        //for (let i = 0; i < markerArray.length; i++) {
            //markerArray[i].setMap(null);
        //};
        //const route=document.getElementById("route").value;
        //if(!route) return;
        //const start = document.querySelector("#routes"  + " option[value='" + route+ "']").dataset.value;
        //const end = document.querySelector("#routes"  + " option[value='" + route+ "']").dataset.id;
        var request={
            origin: start_stop,
            destination: end_stop,
            travelMode: google.maps.TravelMode.TRANSIT,
            transitOptions: {modes: ["BUS"],routingPreference:["FEWER_TRANSFERS"]}, 
        };
        directionsService.route(request, function(response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                var flightPath = new google.maps.Polyline({
                    path: response.routes[0].overview_path,
                    strokeColor: "#000000",
                    strokeOpacity: 0.8,
                    strokeWeight: 3.5,
                    map: map
                });
            }else if (status === google.maps.DirectionsStatus.OVER_QUERY_LIMIT) {
                delayFactor++;
                setTimeout(function () {
                    calculateAndDisplayRoute((directionsService,map,start_stop,end_stop,delayFactor));
                }, delayFactor * 10000);
                console.log(delayFactor);
            }
        });
    }
        /*
        directionsService.route().then((response,status) => {
            //for (let i = 0; i < route_history.length; i++) {
                //route_history[i].setMap(null);
            //};
            console.log("Working");
            if (status === 'OK') {
                var flightPath = new google.maps.Polyline({
                    path: response.routes[0].overview_path,
                    //levels: decodedLevels,
                    strokeColor: "#000000",
                    strokeOpacity: 0.8,
                    strokeWeight: 3.5,
                    map: map
                });
            }
            else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                wait = true;
                setTimeout("wait = true", 2000);
                //alert("OQL: " + status);
            }
       
            
            //route_history.push(response.routes[0].overview_path);    
            //directionsRenderer.setDirections(response);
            //document.getElementById("sidebar").innerHTML ="" + response.routes[0].overview_polyline;  
            //+ "</b> <hr/> Path:"+response.routes[0].overview_path;
            //directionsRenderer.setDirections(response);
            //showSteps(response, markerArray, stepDisplay, map);
        });
    }
     */
/*
    function showSteps(directionResult, markerArray, stepDisplay, map) {
        const myRoute = directionResult.routes[0].legs[0];
        for (let i = 0; i < myRoute.steps.length; i++) {
            const marker = (markerArray[i] =
            markerArray[i] || new google.maps.Marker());
            marker.setMap(map);
            marker.setPosition(myRoute.steps[i].start_location);
            attachInstructionText(
            stepDisplay,
            marker,
            myRoute.steps[i].instructions,
            map
            );
        }
    }


    function attachInstructionText(stepDisplay, marker, text, map) {
        google.maps.event.addListener(marker, "click", () => {
            stepDisplay.setContent(text);
            stepDisplay.open(map, marker);
        });
    };  
*/    
</script>

<div id="floating-panel">
    <form action="" method="post">
        {% csrf_token %}
        <strong style="color:black;background-color:white">Routes:</strong>
        <input list="routes" id="route" class="input" name="route_name">
            <datalist  id="routes">
                {% for route_name in routes_name %}
                    <option value= {{ route_name }}>
                {% endfor %}
                <!--
                    { for route_name,route in routes.items }
                        <option value= {{ route_name }}
                            { for stop_sequence,stop in route.items }
                                { if forloop.first } 
                                    { for stop_index,stop_info in stop.items }
                                        { if forloop.last }
                                            data-value={{stop_info}}
                                        { endif }
                                    { endfor }
                                { endif }
                                
                                { if forloop.last } 
                                    { for stop_index,stop_info in stop.items }
                                        { if forloop.last } 
                                            data-id={{stop_info}}
                                        { endif }
                                    { endfor }
                                { endif }
                            { endfor }
                        >
                    { endfor }
                    data-value route start position   data-id route end position   
                -->
                `Select your route`
            </datalist>
        <select name="direction">
            <option id="direction" value ="I">Inbound</option>
            <option id="direction" value ="O">Outbound</option>
        </select>
        <input id="search_route" type="submit" value="Display It" />
    </form>
    <br/>
</div>

<div class="container-fluid" >
    <div class="row"> 
        <!--{% block subcontent %}{% endblock %}-->     
        <div class="col-md-3" id="sidebar" style="overflow:auto;color:black;background-color:white;height:500px">
        {% if route_Info %}
            {% for stop in route_Info %}
                {{stop.stop_sequence}}: &nbsp {{stop.stop.stop_name}}  &nbsp    {{stop.route_number}}
                <hr>
            {% endfor %}
        {%else%}
            Route Detail Here
        {% endif%}
        </div>

        <div class="col-md-9">
            
            <div  id="map" style="width:100%; height:100%">map</div>
        </div>
    </div>
</div>


<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbl2iDuIG5vhOpzFUYHxFRZNg8RwDnW2M&callback=initMap&libraries=&v=weekly"
    async
></script>

{% endblock %}
