#floating-panel {
    left: 25%;
    width:100%;
    z-index: 5;
    background-color:transparent;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
}
#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 100%;
  }