<!--users/templates/registration/password_reset_form.html-->

{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div id="register-main">
    
    <img alt="bus-logo" class="bus-logo"src={% static 'images/bus.png' %} />
    <h2 class="login-title">Reset password</h2>
    <div>
        <form method="post" id="register-content">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary btn-reg" value="Reset">
        </form>
    </div>
    <a href="{% url 'login' %}">Back to login</a>
    <br>
    <br>

</div>
{% endblock %}