{% extends 'journeyPlanner.html' %}

{% block subcontent %}
<h1 class="heading">
    <!--ipsum to be changed to the current slogan -->
    Welcome to the map
</h1>

<h1>Journey Information:</h1>
    <ul>
        <!-- <li><strong>Number of Stops:</strong> {# num_stops #}</li>
        <li><strong>Number of Routes:</strong> {# num_routes #}</li> -->
        <li><strong>Starting:</strong> {{ start }}</li>
        <li><strong>Destination:</strong> {{ destination }}</li>
        <li><strong>Travel Date:</strong> {{ travel_date }}</li>
        <li><strong>Departure time:</strong> {{ travel_time }}</li>
    </ul>

    <!-- Section to show the current weather data -->
    <div >
        <div >
            <!-- This section needs to get the weather data for the station selected and return it to the screen -->
            <img src="http://openweathermap.org/img/wn/{{forecast_weather.weather_icon}}@4x.png">
            <div>
                {{forecast_weather.weather_main}}, {{forecast_weather.temp}}&deg;C, Dublin, Ireland
            </div>
        </div>
        <div>
            <div>
                <span>Description:</span>
                <span>{{forecast_weather.weather_description}}</span>
            </div>
            <div>
                <span>Humidity:</span>
                <span>{{forecast_weather.humidity}}&#37;</span>
            </div>
            <div>
                <span>Wind:</span>
                <span>{{forecast_weather.wind_speed}} km/hr</span>
            </div>

        </div>
    </div> 

    {{userUnix | json_script:"userUnixDate" }}


{% endblock %}