<!--users/templates/users/dashboard.html-->

{% extends 'layouts/base.html' %}

{% block content %}


<div id="register-main">
    <div id="login-content">
    {% if user.is_authenticated %}
        <div class="login-title">Hello, {{ user.username|default:'Guest' }}!</div>
        <a href="{% url 'logout' %}" class="btn btn-info btn-log">Logout</a>
        <a href="{% url 'password_change' %}" class="btn btn-primary btn-log">Change password</a>
    {% else %}
        <a href="{% url 'login' %}" >Login</a>
    {% endif %}
    </div>
</div>

<div id="favourite-addresses">
    <div id="saved-address-table">
        <table>
            <thead>
                <th> Name </th>
                <th> Address </th>
                <th> </th>
            </thead>
            <tbody>
                {% for addressName, addressValue in userAddresses %}
                    <tr> 
                        <td>{{ addressName }}</td>
                        <td>{{ addressValue }}</td>
                        <td>
                            <form id="delete_{{addressName}}" action="" method="post">
                                {% csrf_token %}
                                <input name="delete" value="true" hidden/>
                                <input name="addressName" value="{{addressName}}" hidden />
                                <input name="addressValue" value="{{addressValue}}" hidden />
                                <button form="delete_{{addressName}}" type="submit">delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<div>
    <form id="create" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button form="create" type="submit">Save</button>
    </form>
</div>

{% endblock %}