<!--users/templates/users/dashboard.html-->

{% extends 'layouts/base.html' %}

{% block content %}


<div id="register-main">
    <div id="login-content">
    {% if user.is_authenticated %}
        <div class="login-title">Hello, {{ user.username|default:'Guest' }}!</div>
        <a href="{% url 'logout' %}" class="btn btn-info btn-log">Logout</a>
        <a href="{% url 'password_change' %}" class="btn btn-primary btn-log">Change password</a>
    {% else %}
        <a href="{% url 'login' %}" >Login</a>
    {% endif %}
    </div>
</div>

{% endblock %}