<!--users/templates/users/dashboard.html-->

{% extends 'layouts/base.html' %}

{% block content %}


<div id="register-main">
    <div id="login-content">
    {% if user.is_authenticated %}
        <div class="login-title">Hello, {{ user.username|default:'Guest' }}!</div>
        <a href="{% url 'logout' %}" class="btn btn-info btn-log">Logout</a>
        <a href="{% url 'password_change' %}" class="btn btn-primary btn-log">Change password</a>
    {% else %}
        <a href="{% url 'login' %}" >Login</a>
    {% endif %}
    </div>


<div id="favourite-addresses">
    <div id="saved-address-table">
        <table class="table table-hover" style="margin-bottom:8px;">
            <thead style="text-align:center;">
                <tr>
                    <th scope="col"> Name &nbsp&nbsp</th>
                    <th scope="col"> Address &nbsp&nbsp</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody style="align:center;">
                {% for addressName, addressValue in userAddresses %}
                    <tr class="table-primary"> 
                        <th scope="row">{{ addressName }}</th>
                        <td>{{ addressValue }}</td>
                        <td>
                            <form id="delete_{{addressName}}" action="" method="post" style="text-align:center;margin-block-end:0;width:100%;">
                                {% csrf_token %}
                                <input name="delete" value="true" hidden/>
                                <input name="addressName" value="{{addressName}}" hidden />
                                <input name="addressValue" value="{{addressValue}}" hidden />
                                <button form="delete_{{addressName}}" type="submit" class="btn btn-info">delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}



                <tr class="table-primary"> 
                    <th scope="row" style="text-align: center !important; vertical-align: baseline; padding-bottom:0;padding-top:16;">TestName</th>
                    <td style="text-align: center !important; vertical-align: baseline; padding-bottom:0;padding-top:16;">TestAddress</td>
                    <td>
                        <form id="delete_{{addressName}}" action="" method="post" style="text-align:center;margin-block-end:0;width:100%;">
                            {% csrf_token %}
                            <input name="delete" value="true" hidden/>
                            <input name="addressName" value="{{addressName}}" hidden />
                            <input name="addressValue" value="{{addressValue}}" hidden />
                            <button form="delete_{{addressName}}" type="submit" class="btn btn-info">delete</button>
                        </form>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

</div>

<div>
    <form id="create" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button form="create" type="submit" class="btn btn-primary" >Save</button>
    </form>
</div>

</div>
{% endblock %}