<html lang="en">
    <head>
        <!--This section contains the meta data for the website. 
            Nothing in this section will be displayed.
            Insert links to the css and JS files in this section and they will
            by included on all of the pages.
        -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta name="description" content="base.html">
        <meta name="authors" content="Jennifer, Cho, Ellen, and Shihao">

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        
        <link rel="preconnect" href="https://fonts.gstatic.com" 
        />
        
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap"
            rel="stylesheet"
        />
        
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
            rel="stylesheet"
        />

        <link 
            rel="preconnect" href="https://fonts.googleapis.com"
        />
        
        <link 
            rel="preconnect" href="https://fonts.gstatic.com" crossorigin
        />
        
        <link 
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"
        />

        <script
            src="https://kit.fontawesome.com/b21397b3b4.js"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbl2iDuIG5vhOpzFUYHxFRZNg8RwDnW2M&callback=initMap&libraries=&v=weekly"
            async
        ></script>

        {% load static %}
        <link rel="icon" href={% static 'images/favicon.ico' %} />
        <script src= {% static 'js/jquery.min.js' %}></script>
        <script src= {% static 'js/bootstrap.bundle.min.js' %}></script>
        <script defer src= {% static 'js/map.js' %}></script>
        <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}/>
        <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.css' %}/>
        <link rel="stylesheet" type="text/css" href={% static 'css/login.css' %}/>
        <link rel="stylesheet" type="text/css" href={% static 'css/covid_data.css' %}/>
        <link rel="stylesheet" type="text/css" id="default-theme" href={% static 'css/bootstrap.min.css' %}/>
        

    </head>

    <body>
        <!--
        The jinja below inserts the header html file into the web page template
        The header file includes the link to the navbar
        -->
        {% include 'partials/header.html' %}

        <!--This section includes the jinja blocks where web page information will go.
            i.e. paragraphs, headings, images etc.-->
        <div class='container_main bg-body' id="body_container">
            {% block content %}{% endblock %}
        </div>
        <!--Like the header the below code inserts the footer file into the page template-->
        
        {% include 'partials/footer.html' %}
        
    </body>
</html>