{% extends 'leapCard.html' %}

{% block subcontent %}
<div class="col-md-8">
    <h3> Leap Card Details</h3>
    <p> Card Balance:  {{ leap_balance }} </p>
    
    <p> Card Number: {{leap_card_number }}</p>

    <p> Card Status: {{ leap_card_status }}</p>
    
    <p> Card type: {{ leap_card_type }}</p>

    <p> Credit Status: {{ leap_credit_status }}</p>
    
    <p> Auto top-up: {{ leap_auto_topup  }}</p>
    
    <p> Expiry date:  {{ leap_expiry_date }}</p>
    
    <p> Card Issue Date: {{ leap_issue_date }}</p>     
</div>

{% endblock %}