<footer>
    <!-- Footer information to go here, no jinja information needed, only html and simple js-->
    <div class="flex flex-grow p-1">
        <p class="text-white"> Website designed by Group 1. </p>
    </div>

    <div class="flex flex-grow border-left p-1">
        <ul class="no-markers">
            <li><a class="text-white" href="./">Home</a></li>
            <li><a class="text-white" href="./about">About Us</a></li>
            <li><a class="text-white" href="./stations">Stations</a></li>
            <li><a class="text-white" href="./maps">Maps</a></li>
            <li><a class="text-white" href="./contact">Contact</a></li>
        </ul>
    </div>
</footer>