<footer class="container-fluid foot-wrap" >
    <hr/>
    <div class="row">

        <div class="row-content col"></div>
        <div class="row-content col">
            <h3>&nbsp&nbsp&nbsp&nbsp Index</h3>
            <ul>
                <li><a href="../journeyPlanner/">JourneyPlanner</a></li>
                <li><a href="../Routes/">Routes</a></li>
                <li><a href="../CovidInfo/">Covid Info</a></li>
                <li><a href="../LeapCard/">LeapCard</a></li>  
            </ul>
        </div>
        <div class="row-content col">
            <h3>&nbsp&nbsp&nbsp&nbsp BROWSE</h3>
            <ul> 
                <li><a href="#">How made it</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="row-content col">
            <h3>&nbsp&nbsp &nbsp&nbspContacts</h3>
            <ul class="social">
                <li>
                    <a href="#" title="Twitter Profile">
                        <span class="icon fa fa-twitter">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Facebook Page">
                        <span class="icon fa fa-facebook">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn Profile">
                        <span class="icon fa fa-linkedin">LinkedIn</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row-content col"></div>
    </div>
    <p align="center" style="margin-top: 0px;margin-bottom:0px;color:#878B91;">
        Copyright &copy;Website designed by Group 1.
    </p>
</footer>