<!--

<div id="map" style="width:80%; height:80%">map element</div>
<div id="panel" style="width: 300px; float: right;"></div> 
-->

{% load static %}
<script src= {% static 'js/googlemap.js' %}></script>
<link rel="stylesheet" type="text/css" href={% static 'css/map.css' %}/>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbl2iDuIG5vhOpzFUYHxFRZNg8RwDnW2M&callback=initMap&libraries=&v=weekly"
    async
></script>
<div id="googlemap">AAAAAA</div>
<div id="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-6 span3">
            <div id="sidebar" 
                ></div>
            <div id="warnings-panel"></div>
        </div>
		
        <div class="col-xs-6 span9">
            <div id="floating-panel">        
                <div id="search_bar_datalist">
                
                    <input list="station_datalist" id="search_datalist" class="input">
                    <datalist  id="station_datalist">
                    <!--
                        {% for stop in stops%}
                        <option value={{stop_name}} data-value="{{lat}},{{lng}}">
                        {% endfor %}
                    -->
                        <option value="Beneavin Road, stop 164" data-value="53.3884303639479,-6.28048792293041" data-id="1">
                        <option value="North Circular Road, stop 188" data-value="53.3601206877577,-6.27258314915006" data-id="2">`Choose your sattion`
                    </datalist>
                </div>
                <input id="submit" type="button" value="Search" />
                
                
                <b>Start: </b>
                <select id="start">
                <!--Using stop request!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    {% for stop in stops %}
                    <option value={{lat}},{{lng}}>{{stop_name}}</option>
                    {% endfor %}
                --> 
                    <option value='53.3522443611407,6.26372321891882'>Parnell Square West, stop 2</option>
                    <option value='53.3699364344031,-6.25410694084961'>DCU St Patrick's, stop 45</option>
                    <option value='53.3884303639479,-6.28048792293041'>Beneavin Road, stop 164</option>
                    <option value='53.3601206877577,-6.27258314915006'>North Circular Road, stop 188</option>  
                </select>

                <b>End: </b>
                <select id="end">
                <!--Using stop request!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    {% for stop in stops %}
                    <option value={{lat}},{{lng}}>{{stop_name}}</option>
                    {% endfor %}
                --> 
                    <option value='53.3522443611407,6.26372321891882'>Parnell Square West, stop 2</option>
                    <option value='53.3699364344031,-6.25410694084961'>DCU St Patrick's, stop 45</option>
                    <option value='53.3884303639479,-6.28048792293041'>Beneavin Road, stop 164</option>
                    <option value='53.3601206877577,-6.27258314915006'>North Circular Road, stop 188</option>
                </select>
            </div>
            
        </div>
    
    </div>

</div>
